<div class="container mt-5">
  <div class="row">
    
 <div class="col-md-7">
      <ng-template #template >
        <div class="modal-header">
          <h5 class="modal-title pull-left">{{editProductItem.name}}</h5>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="addform" (ngSubmit)="SubmitData(pform,editProductItem.$key)" #pform="ngForm">
              
              <div class="row justify-content-between">
                  <div class="form-group col-md-6">
                    <label>Product Name</label>
                    <input type="text" class="form-control form-control-sm " [(ngModel)]="editProductItem.name" name="name" ngModel>
                  </div>
                  <div class="form-group col-md-6 mt-3">
                    <select name="category" [(ngModel)]="editProductItem.category" class=" mt-3 form-control form-control-sm " ngModel>
                      <option value="">Select Category</option>
                      <option value="mobile">Mobile</option>
                      <option value="tshirt">T shirt</option>
                      <option value="poloshirt">Polo Shirt</option>
                      <option value="shoe">Shoe</option>
                      <option value="bag">Bag</option>
                      <option value="cosmetics">cosmetics</option>
                    </select>
                  </div>
                </div>
                <div class="row justify-content-between">
                  <div class="form-group col-md-6">
                    <label>Quantity</label>
                    <input type="number" [(ngModel)]="editProductItem.quantity" class="form-control form-control-sm " name="quantity" ngModel>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Price</label>
                    <input type="number" [(ngModel)]="editProductItem.price" class="form-control form-control-sm" name="price" ngModel>
                  </div>
                
                </div>
                <div class="row justify-content-between">
                
                  <div class="form-group col-md-6">
                    <label>Product Brand</label>
                    <input type="text" [(ngModel)]="editProductItem.brand" class="form-control form-control-sm" name="brand" ngModel>
                  </div>
                  <div class="form-group col-md-6">
                      <label>Product Color</label>
                      <input type="text" class="form-control  form-control-sm" [(ngModel)]="editProductItem.color" name="color" ngModel>
                    </div>
                </div>
        
                <div class="row justify-content-between">
                  <input type="hidden"  name="date" ngModel>
                  <div class="form-group col-md-6">
                    <label>Product Img</label>
                    <img [src]="editProductItem.img" width="100" height="100" alt="">
                    <input type="hidden" [(ngModel)]="editProductItem.img" name="img" ngModel>
                    <input type="file" (change)="uploadFile($event)">
                    <div>{{uploadPercent | async}}</div>
                    
                  </div>
                  <div *ngIf="editProductItem.size"
                  class="form-group col-md-6 mt-3">
                      <select name="size" 
                      [(ngModel)]="editProductItem.size" 
                        class=" mt-3 form-control form-control-sm "
                       ngModel>
                        <option value="">Select Size</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXl</option>
                      
                      </select>
                    </div>
                  </div>
                        <div class="row justify-content-center">
                            <div class="form-group col-md-5">
                     
                                <button type="submit" class="btn btn-block yello mt-4"> Submit </button>
                               </div>
                        </div>
                
        
              </form>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card filter-wrap">
        <div class="card-body">
        
        <div class="fomr-group priceRange">
            <h4>By Category</h4>
          <select (change)="categiory($event)" name=""  class="form-control form-control-sm">
           <option value="">Select Category</option>
            <option value="mobile">Mobile</option>
            <option value="tshirt">T shirt</option>
            <option value="poloshirt">Polo Shirt</option>
            <option value="shoe">Shoe</option>
            <option value="bag">Bag</option>
            <option value="cosmetics">cosmetics</option>

          </select>
        </div>
    
        <div class="priceRange">
          <h4>By Brands</h4>
          <ul type="square" class="">
            
                <li *ngFor="let brand of productBrands ">

                   <input id="checkBox" (change)="brands($event)" [value]="brand" type="checkbox">{{brand}} 
                </li>
               
               

          </ul>

        </div>
        <div *ngIf="showColor" class="priceRange">
            <h4>By Colors</h4>
            <ul type="square" >
                  <li *ngFor="let color of colorList">   
                    <input id="checkBox" (change)="selectcColor($event)" [value]="color" type="checkbox">{{color}} 
                  </li>
                 
            </ul>
            
          </div>
          <div *ngIf="showSize" class="priceRange justify-content-between">
              <h4>By Size</h4>
              <ul type="square" >
                  <li *ngFor="let size of sizeList">   
                <input id="checkBox" (change)="selectSize($event)" [value]="size" type="checkbox">{{size}} 
             
              </li>
                 
            </ul>
           
     
              
            </div>
         
     
        </div>
      </div>
    </div>
    <div class="col-md-8">
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4 "> 
                <button (click)="addProduct()" class="btn d-btn yello btn-block ">Add New Product</button>
            </div>
            
          </div>
      <div class="product-list"> 
        <table class="table">

            <thead> 
              <tr>
                <td>Sl</td>
                <td>Image</td>
                <td>Product Name</td>
                <td>Category</td>
                <td>Brand</td>
                <td>Quantity</td>
                <td>Price</td>
                <td></td>
                <td></td>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let product of productList;let i=index"> 
              <td>{{i+1}}</td>
              <td><img [src]="product.img" ></td>
              <td>{{product.name}}</td>
              <td>{{product.category}}</td>
              <td>{{product.brand}}</td>
              <td>{{product.quantity}}</td>
              <td>${{product.price}}</td>
              <td style="cursor:pointer"><i  (click)="openModal(template,product)" class="fas fa-pencil-alt"></i></td>
              <td><i class="far fa-trash-alt"></i></td>
            
            </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>